.body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to left bottom, #6db1fb, #5ba6f8, #489bf4, #328ff0, #0f84ec);  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-login {
  background-color: white;
  max-width: 900px;
  padding: 0%;
  display: flex;
  flex-direction: row;
  align-items: center; 
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.59);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.59);
}

.logo {
  text-align: center;
}

.logo-img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.logo-mobile {
  display: none;
}

.form-welcome {
  font-size: 32px;
  text-align: center;
  padding-bottom: 5%;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.submit-button {
  width: 100%;
}

.form-side {
  width: 100%;
  padding: 5%;
}

@media screen and (max-width: 768px) {
  .container-login {
    flex-direction: column;
    align-items: center;
    max-width: 500px;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  .logo-img {
    display: none;
  }

  .logo-mobile {
    display: flex;
    width: 100%;
  }

  .form-side {
    width: 100%;
    padding: 0% 10% 10% 10%;
  }
}

@media screen and (max-width: 530px) {
  .container-login {
    max-width: 300px;
  }
}